[submodule "public"]
	path = public
	url = https://github.com/terrymyc/terrymyc.github.io.git
	branch = master
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
